@model IEnumerable<Chicken.Web.Models.CartItem>
@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron shopping-cart-page-title-header">
    <h1><span class="menu-header-text">Shopping Cart</span></h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-xs-2">
            <h4 class="menu-label-text">
                @Html.DisplayNameFor(model => model.Product.Name)
            </h4>
        </div>
        <div class="col-md-2 col-xs-2">
            <h4 class="menu-label-text">
                @Html.DisplayNameFor(model => model.DateCreated)
            </h4>
        </div>
        <div class="col-md-2 col-xs-2">
            <h4 class="menu-label-text">
                @Html.DisplayNameFor(model => model.Product.Name)
            </h4>
        </div>
        <div class="col-md-1 col-xs-1">
            <h4 class="menu-label-text">
                @Html.DisplayNameFor(model => model.Quantity)
            </h4>
        </div>
        <div class="col-md-1 col-xs-1">
            <h4 class="menu-label-text">
                @Html.DisplayNameFor(model => model.Product.Cost)
            </h4>
        </div>
        <div class="col-md-1 col-xs-1">
            <h4 class="menu-label-text">
                Total
            </h4>
        </div>
        @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
        {
            <div class="col-md-1 col-xs-1">
                <h4 class="menu-label-text">
                    Inventory
                </h4>
            </div>
        }
    </div>
    
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <p>
                    @Html.DisplayFor(modelItem => item.CartId)
                </p>
            </div>
            <div class="col-md-2 col-xs-2">
                <p>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </p>
            </div>
            <div class="col-md-2 col-xs-2">
                <p>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </p>
            </div>
            <div class="col-md-1 col-xs-1">
                <p>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </p>
            </div>
            <div class="col-md-1 col-xs-1">
                <p>
                    @Html.DisplayFor(modelItem => item.Product.Cost)
                </p>
            </div>
            <div class="col-md-1 col-xs-1">
                <p>
                    @(item.Quantity * item.Product.Cost)
                </p>
            </div>
            @if (User.IsInRole("Manager")|| User.IsInRole("Employee"))
            {
                <div class="col-md-1 col-xs-1">
                    <p>
                        @(item.Product.Quantity)
                    </p>
                </div>
            }
            <div class="col-md-1 col-xs-1">
                <p>
                        
                    @Html.ActionLink("Remove", "RemoveItem", "ShoppingCarts", new { removeCartID = item.CartId, removeProductID = item.ProductId }, null)
                        

                </p>
               
            </div>
            <div class="col-md-1 col-xs-1">
                @if (item.Quantity != 0)
                    {
                        <p>
                       
                                @Html.ActionLink("-", "ReduceQuantity", "ShoppingCarts", new { removeCartID = item.CartId, removeProductID = item.ProductId }, null)
                           

                        </p>
                    }
                    @if (item.Product.Quantity != 0)
                    {
                        <p>
                      
                                @Html.ActionLink("+", "IncreaseQuantity", "ShoppingCarts", new { removeCartID = item.CartId, removeProductID = item.ProductId }, null)
                           

                        </p>
                    }
            </div>
            

        </div>

    }
</div>


@*
   

            <td>
                @Html.ActionLink("Remove From Cart", "RemoveItem", "ShoppingCarts", new { removeCartID = item.CartId, removeProductID = item.ProductId }, null)
            </td>
            @if (item.Quantity != 0)
            {
                <td>
                    @Html.ActionLink("-", "ReduceQuantity", "ShoppingCarts", new {removeCartID = item.CartId, removeProductID = item.ProductId}, null)
                </td>
            }
            @if (item.Product.Quantity != 0)
            {
                <td>
                    @Html.ActionLink("+", "IncreaseQuantity", "ShoppingCarts", new {removeCartID = item.CartId, removeProductID = item.ProductId}, null)
                </td>
            }
        </tr>

    }


</table>*@
