@model IEnumerable<Chicken.Web.Models.NavbarItem>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Gus's Fried Chicken", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var item in Model)
                {
                    //Normal Menu
                    if (!item.isParent && item.parentId == -1)
                    {
                        <li><a href="@Url.Action(item.action,item.controller)">@item.nameOption</a></li>
                    }
                    //Dropdown Menus
                    else if (item.isParent && item.parentId == -1)
                    {
                        var childItems = Model.Where(p => p.parentId == item.Id).ToList();
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action(item.action,item.controller)">
                                @item.nameOption
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var ch in childItems)
                                {
                                    <li><a href="@Url.Action(ch.action,ch.controller)">@ch.nameOption</a></li>
                                }
                            </ul>
                        </li>
                    }
                }

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>