@model IEnumerable<Chicken.Web.Models.CartItem>

@if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("Employee"))
{
    {
        ViewBag.Title = "Index";
    }

    <div class="jumbotron orders-page-title-header">
        <h1><span class="menu-header-text">Orders</span></h1>
    </div>



    using (Html.BeginForm())
    {
        <p>
            Find by name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-xs-2">
                    <h4 class="menu-label-text" style="color: black">
                        @Html.ActionLink("Order Item", "Index", new { sortOrder = ViewBag.NameSortParm })
                   </h4>
                </div>
                <div class="col-md-2 col-xs-2">
                    <h4 class="menu-label-text">
                        @Html.ActionLink("Order Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </h4>
                </div>
                <div class="col-md-2 col-xs-2">
                    <h4 class="menu-label-text">
                        @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.NameSortParm })
                    </h4>
                </div>
                <div class="col-md-2 col-xs-2">
                    <h4 class="menu-label-text">
                        @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSortParm })
                    </h4>
                </div>
            </div>
           
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <p>
                            @Html.DisplayFor(modelItem => item.Product.Name)

                        </p>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <p>
                            @Html.DisplayFor(modelItem => item.CartId)

                        </p>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <p>
                            @Html.DisplayFor(modelItem => item.Quantity)

                        </p>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <p>
                            @Html.DisplayFor(modelItem => item.DateCreated)

                        </p>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <p>
                            <span class="btn btn-default">
                                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId })
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <p>
                            <span class="btn btn-default">
                                @Html.ActionLink("Details", "Details", new { id = item.ItemId })
                            </span>
                        </p>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <p>
                            <span class="btn btn-default">
                                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                            </span>
                        </p>
                    </div>
                </div>
                
            }
        </div>
    @*<table class="table">
        <tr>
            <th>
                @Html.ActionLink("Order Item", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Order Name", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Quantity", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Date Created", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.CartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                </td>
            </tr>
        }

    </table>*@
}
else
{
    <h1> YOU'RE NOT SUPPOSED TO BE HERE! </h1>
}
