@using System.Web.UI.HtmlControls
@model IEnumerable<Inventory.Entities.Inventory>

@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>
@if (User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

@using (Html.BeginForm())
{ 
<p>
    Find by name: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>

        </th>
        <th></th>
    </tr>
 
@foreach (var item in Model)
 {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)

        </td>
        @if (User.IsInRole("Manager"))
        {
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        }
        

                @if (!User.IsInRole("Manager"))
                {
                    <td>
                        @Html.ActionLink("Add to Cart", "AddToCart", "Inventory", new { id = item.Id }, null)
                    </td>
                }

                @if (User.IsInRole("Manager"))
                {
                    <td>

                        @Html.ActionLink("Edit", "Edit", "Inventory", new { id = item.Id }, null)

            </td>
        }
    </tr>
 
}

</table>
